@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    @*<li><a class="nav-link px-2 link-dark" asp-controller="Home" asp-action="Index">Início</a></li>*@
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a class="nav-link px-2 link-dark" asp-controller="Ad" asp-action="Index">Gerir Anúncios</a>
        </li>
    }
</ul>
