@model RoomFinder4You.Models.FeatureType

@{
    ViewData["Title"] = "Eliminar Caracteristica";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que quer eliminar?</h3>
<div>
    <h4>FeatureType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
