@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light headline">
    <div class="col-md-5 p-lg-1 mx-auto my-5">
      <h1 class="display-4 fw-normal">Encontre o quarto ideal para você</h1>
      <p class="lead fw-normal">Comece agora a procura</p>
      <a class="btn btn-outline-secondary" href="#">AQUI</a>
    </div>
  </div>
</main>