<div class="card">
    <div class="card-header">
        Nenhum anúncio encontrado
    </div>
    <div class="card-body">
        <p class="card-text">Não existem anúncios que correspondam com a pesquisa pretendida.
        </p>
    </div>
</div>