@using Helpers
@model PaginatedList<RoomFinder4You.Models.Ad>

@section Scripts
{
    <script src="@Url.Content("~/js/search.js")"></script>
}


@{
    ViewData["Title"] = "Procurar quartos";
}

<form action="Search" class="row g-3">
    <div class="row">
        <div class="col-sm-2 border m-2">
            <partial name="FiltersSearch" />

        </div>
        <div class="col-sm-9 m-2">
            <partial name="TopSearch" />

            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    @Html.Partial("CardSearch", item)
                }

                <partial name="PaginationSearch" />
            }
            else
            {
                <partial name="NoResultsSearch" />
            }
</form>
</div>
</div>