@using Helpers
@model PaginatedList<RoomFinder4You.Models.Ad>
@{
    int count = ViewBag.count;
    string? searched = ViewBag.searched;

}

<div class="row mb-2">
    <div class="col-sm-2 border d-flex align-items-center justify-content-center">
        <h2 class="text-center">Local</h2>
    </div>
    <div class="col-sm-6 p-0 border">
        <input type="text" class="w-100 h-100" value="@searched" name="keywords" id="keywords">
    </div>
    <div class="col-sm-4 p-0 border">
        <button type="submit" id="search" class="w-100 h-100">
            <h2>Pesquisar</h2>
        </button>
    </div>
</div>
<div class="row mb-1">
    <div class="col">
        <h6>@count quartos Encontrados</h6>
    </div>
    <div class="col d-flex justify-content-end">
        <select name="ordering" id="ordering" class="mr-2" asp-items="@ViewBag.OrderingList">
            <option></option>
        </select>
        <select name="pageSize" id="pageSize" asp-items="@ViewBag.AdsCountList">
        </select>
    </div>
</div>
